.container
{
    background-color: whitesmoke;
    padding: 25px;
    margin-top: 15px;
    margin-right: 5%;
    margin-bottom: 15px;
    border: 1px solid gainsboro;
    color: gray;
}
#btnReadMore{
    width: 100%;
    color: #ff5a00;
    font-size: 15px;
    margin-bottom: 15px;
}
#sendBtn
{
    margin-left: 5px;
}
#dateCol
{
    text-align: end;
}
#nameCol
{
    text-align: start;
}
#textCol
{
    margin-left: 15px;
}
