.submitbtn{
    background-color: rgb(255, 90, 0);
    color: rgb(255, 255, 255);
    line-height: 1.25;
    padding: 12px 20px !important;
    width: 100%;
    box-shadow: none;
    border: medium none;
    border-radius: 8px;
}
.primary-text{
    color: rgb(255, 90, 0);
    text-decoration: none;
}
h6{
    margin-top: 2rem;
    margin-left: 2rem;
}