.mat-tab-group {
    margin-bottom: 48px;
    //background-color:#ff5a00;

  }
  .mat-ink-bar
  {
    background-color:#ff5a00;
    visibility: visible;
    left: 0px;
    width: 160px;
  }
  .mat-tab-label, .mat-tab-link {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 26px;
    font-weight: 583;
  }
  py-5 {
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
  
  }
