


  <div class="w-75 mx-auto pl-5 ms-1">
  <table class="table container-sm">
    <thead>
      <tr >
        <!-- <th scope="col">Arabiata Al-Shabrawy</th> -->
      <h1 class="f-18 f-m-13 pb-2 f-500 mb pl-0">{{Resturant.applicationUserId}}</h1>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Minimum Order Amount :</td>
      </tr>
      <tr>
        <td>Working Hours</td>
        <td>{{Resturant.workingHours}}</td>

      </tr>
      <tr>
        <td>Delivery Time</td>
        <td> {{Resturant.delivaryTime}} minus</td>
      </tr>
      <tr>
        <td>Delivery fee</td>
        <td>{{Resturant.delivaryFee}} EGP</td>
      </tr>
      <tr>
        <td>Pre-Order</td>
        <td>NO</td>
      </tr>
      <tr>
        <td>Payment</td>
        <td><div class="sc-e9e00d62-0 cuRaBq d-flex payment-method" data-test="payemnt-method-wrapper"><img data-test="payment-image-visa_blue" class="mr-2" src="http://localhost:59638/images/visa_blue.png" alt="Visa payment available" width="35" height="20"><img data-test="payment-image-logo-mastercard" class="mr-2" src="http://localhost:59638/images/logo-mastercard.svg" alt="Mastercard payment available" width="33" height="20"><img data-test="payment-image-logo-cash" class="" src="http://localhost:59638/images/logo-cash.svg" alt="Cash payment available" width="30" height="20"></div></td>
      </tr>
    </tbody>
  </table>
  </div>
